<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}\Logs\${shortdate}-all.log" />
    <target name="errorfile" xsi:type="File" fileName="${basedir}\Logs\${shortdate}-errors.log" />
    <target name="console" type="Console" ></target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,console" />
    <logger name="*" minlevel="Error" writeTo="errorfile" />

  </rules>
</nlog>
